<h1>Add users</h1>

{{!-- en la action del formulario, indicamos la ruta BACK que queremos que siga cuando hagamos submit --}}
<form action="/process-add" method="POST">

  <label>First Name
  <input type="text" name="firstName" placeholder="First Name">
  </label>

  <label>Description
  <input type="text" name="description" placeholder="Description">
  </label>
  <button>add</button>
</form>